{% extends 'base.html.twig' %}

{% block body %}
    <div class="ribs-container project body-block-space">
        <div class="row">
            <div class="csx-12 cmd-8">
                <div class="row center-xs start-md images">
                    {% for image in images %}
                        <div class="cxs-10 cmd-6">
                            <img src="{{ asset(image.thumbnailUrl) }}" alt="Lorraine Longuet, graphiste">
                        </div>
                        <div style="background-image: url({{ image.thumbnailUrl }})" data-src="{{ image.thumbnailUrl }}"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="cxs-12 cmd-4">
                <h2>{{ project.title }}</h2>
                <h3>{{ project.description }}</h3>
                <h4>{{ project.publicationDate }}</h4>

                {{ project.article|raw }}
            </div>
        </div>
    </div>
{% endblock %}
