{% extends 'base.html.twig' %}

{% block body %}
    <div class="ribs-container project">
        <div class="row">
            <div class="csx-12 cmd-8">
                <div class="row images">
                    <div class="cxs-12 cmd-6">
                        <img src="{{ asset('images/project/01.jpg') }}" alt="Lorraine Longuet, graphiste">
                    </div>
                    <div class="cxs-12 cmd-6">
                        <img src="{{ asset('images/project/02.jpg') }}" alt="travail de Lorraine Longuet">
                    </div>
                    <div class="cxs-12 cmd-6">
                        <img src="{{ asset('images/project/04.jpg') }}" alt="travail de Lorraine Longuet">
                    </div>
                    <div class="cxs-12 cmd-6">
                        <img src="{{ asset('images/project/05.jpg') }}" alt="travail de Lorraine Longuet">
                    </div>
                    <div class="cxs-12 cmd-6">
                        <img src="{{ asset('images/project/06.jpg') }}" alt="travail de Lorraine Longuet">
                    </div>
                </div>
            </div>
            <div class="cxs-12 cmd-4">
                <h2>Olivia Clavel</h2>
                <h3>Mémoire</h3>
                <h4>2018</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque, delectus explicabo fugit laboriosam placeat quam reiciendis repudiandae veniam voluptas! Ad cumque fuga perspiciatis rerum. Facere nesciunt nisi quidem voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, architecto, asperiores cupiditate dignissimos dolorum ducimus, facilis fuga id illo ipsam magnam natus necessitatibus nulla odit repellat repudiandae ut voluptas voluptatibus.</p>
            </div>
        </div>
    </div>
{% endblock %}