<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>{% block title %}Lorraine Longuet - Designer{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
    {% endblock %}
</head>
    <body>
        <header>
            <div class="ribs-container h100">
                <div class="row center-xs middle-xs h100">
                    <div>
                        <h1>Lorraine</h1>
                        <h2>Longuet</h2>
                        <div class="row end-xs">
                            <h3>Graphiste</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="ribs-container">
            <i class="fas fa-bars fa-2x ribs-nav-open-icon" data-nav="main-nav"></i>
            <nav class="ribs-nav inline mobile" id="main-nav">
                <i class="fas fa-times fa-2x ribs-nav-close-icon"></i>
                <ul>
                    <li><a href="{{ url('index') }}">Projets</a></li>
                    <li><a href="{{ url('orders') }}">Commandes</a></li>
                    <li><a href="{{ url('about') }}">À propos</a></li>
                    <li>Contact</li>
                    <li>CV</li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/vendor.js') }}"></script>
        {% endblock %}
    </body>
</html>
